<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css"> <!-- Ensure this path is correct -->
    <title>Update Book</title>
  </head>
  <body>
    <%- include('partials/error')%>
    <form class="input-form" action="/<%= book.id %>?_method=PUT" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="<%= book.title %>">

      <label for="page">Page:</label>
      <input type="number" name="page" id="page" value="<%= book.page %>" />

      <label for="genre">Genre:</label>
      <select name="genre" id="genre">
        <% genres.forEach(function(genre) { %>
          <option value="<%= genre.name %>" <%= book.genre === genre.name ? 'selected' : '' %> >
            <%= genre.name %>
          </option>
        <% }); %>
      </select>

      <label for="description">Description:</label>
      <textarea name="description" id="description" placeholder="Book Description..."><%= book.description %></textarea>

      <label for="price">Price (&dollar;):</label>
      <input type="text" name="price" id="price" value="<%= book.price %>" />

      <div id="author-fields">
        <% book.authors.forEach(function(author) { %>
          <div>
            <input type="text" name="author[]" value="<%= author %>">
            <button type="button" onclick="removeAuthor(this)">Remove</button>
          </div>
        <% }); %>
      </div>

      <button type="button" onclick="addAuthor()">Add Author</button>

      <button type="submit">Update Book</button>
    </form>
    <script>
      function addAuthor() {
        const authorSection = document.getElementById("author-fields");
        const authorField = document.createElement("div");
        authorField.className = "author-field";
        authorField.innerHTML = `
            <input type="text" name="author[]" required>
            <button type="button" onclick="removeAuthor(this)">Remove</button>
        `;
        authorSection.appendChild(authorField);
      }

      function removeAuthor(button) {
        const authorSection = document.getElementById("author-fields");
        authorSection.removeChild(button.parentNode);
      }
    </script>
  </body>
</html>
